[worldserver]
###################################################################################################
# BUFF COMMAND
#
# Settings to control the .mod_buff buff command
#
#    BuffCommand.Enable
#        Description: Enable the .buff command
#        Default:     1 - (Enabled)
#                     0 - (Disabled)

BuffCommand.Enable = 1

# Settings to control the cooldown of .mod_buff buff command
#
#    BuffCommand.Cooldown
#        Description: Enables Cooldown for .mod_buff buff command
#        Default:     120 - (Enabled)
#                     0 - (Disabled)

BuffCommand.Cooldown = 120

#
#    BuffCommand.MinLevel
#        Description: Minimum level to use .mod_buff buff command, use 0 to disable minimum level requirement
#        Default:     80 - (Enabled)
#                     0 - (Disabled)

BuffCommand.MinLevel = 80

#
###################################################################################################
